{% extends 'baseRequired.html' %}

{% block navcontent %}
{% include 'navbar.html' %}
{% endblock navcontent %}

{% block bodyContent %}
<style>
    .user-image {
        background-image: url('/media/{{ user.userProfile.user_profile_image }}');
        background-size: cover;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
</style>
<style>
    .adminDisplay>a {
        color: #447e9b !important;
        text-decoration: underline !important;
    }
</style>

<div class="col-11 mx-auto my-5">
    <div class="main-body">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="user-image">

                            </div>
                            <!-- <img src="/media/{{ user.userProfile.user_profile_image }}" alt="Admin"
                                class="rounded-circle" width="150"> -->
                            <div class="mt-3">
                                <h4>{{ user.username }}</h4>
                                <p class="text-secondary mb-1">{{ user.userProfile.bio }}</p>
                                <p class="text-muted font-size-sm">{{ user.userProfile.address }}</p>
                                <h6 class="text-danger">{{ user.userProfile.books_issued }} Books Issued</h6>
                            </div>
                            <div class="col">
                                <img src="{{ user.userProfile.qrcode.url }}
                                " alt="" style="max-height: 150px;" class="img-fluid">
                            </div>
                            <div class="mt-5">
                                <div class="mx-auto row">
                                    <a href="{{ user.userlinks.github }}" class="mx-2"><img
                                            src="/media/socialLogos/github.png" alt="github" style="height:40px"></a>
                                    <a href="{{ user.userlinks.linkdin }}" class="mx-2"><img
                                            src="/media/socialLogos/linkdin.png" alt="linkdin" style="height:40px"></a>
                                    <a href="{{ user.userlinks.twitter }}" class="mx-2"><img
                                            src="/media/socialLogos/twitter.png" alt="twitter" style="height:40px"></a>
                                    <a href="{{ user.userlinks.website }}" class="mx-2"><img
                                            src="/media/socialLogos/website.png" alt="instagram"
                                            style="height:40px"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-7">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <form action="
                        " method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <h6>{{ user.username}}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <h6>{{ user.email }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bio</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ form2.bio }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Location</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ form2.address }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profile Image</h6>
                                </div>
                                <div class="col-sm-9 text-secondary adminDisplay">
                                    {{ form2.user_profile_image }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="" class="btn btn-info px-3" name="profile-form"
                                        value="profile-form">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12 mt-md-0 mt-5">
                <div class="card shadow h-100 p-4">
                    <h1>Filters</h1>
                    <ul class="p-3 adminDisplay">
                        <a href="/profile/loanDetails/all">
                            <li class="h5 mt-3">Books Issued</li>
                        </a>
                        <a href="/profile/loanDetails/withFine">
                            <li class="h5 mt-3">Books With Fine</li>
                        </a>
                        <a href="/profile/loanDetails/pending">
                            <li class="h5 mt-3">Return Status - Pending</li>
                        </a>
                        <a href="/profile/loanDetails/returned">
                            <li class="h5 mt-3">Return Status - Returned</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-11 mx-auto pb-5">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="card mt-3 shadow">
                <form action="" method="POST">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:30px" src="/media/socialLogos/website.png" alt="website"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ form3.website }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:30px" src="/media/socialLogos/github.png" alt="github"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ form3.github }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:30px" src="/media/socialLogos/twitter.png" alt="twitter"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ form3.twitter }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:30px" src="/media/socialLogos/linkdin.png" alt="linkdin"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ form3.linkdin }}</span>
                        </li>
                    </ul>
                    <div class="col">
                        <button type="submit" class="btn btn-info px-3 my-3" name="link-form"
                            value="link-form">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 mt-5 mt-lg-0 row">
            <div class="col text-center mb-3">
                <h2>Book Loan Detalis</h2>
                {% for msg in messages %}
                <h6 class="mt-4">{{ msg }}</h6>
                {% endfor %}
            </div>
            {% if st == 'all' %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th class="text-danger">Book Title</th>
                        <th class="text-danger">Issue Date</th>
                        <th class="text-danger">ERD</th>
                        <th class="text-danger">Return Date</th>
                        <th class="text-danger text-center">Return Status</th>
                    </tr>
                </thead>
                {% for pk in profileBook %}
                <tbody>
                    <tr>
                        <th class="text-capitalize">{{ pk.book.book_title }}</th>
                        <th class="text-capitalize">{{ pk.issue_date }}</th>
                        <th class="text-capitalize">{{ pk.estimated_return_date }}</th>
                        <th class="text-capitalize">{{ pk.return_date }}</th>
                        <th class="text-capitalize text-center">
                            {% if pk.return_status == 'pending' %}
                            {% if pk.book.book_quantity != 0 %}
                            <button class="btn btn-success py-1 px-4" data-toggle="modal"
                                data-target="#Renew{{ pk.book }}">Renew Book</button>
                            <button class="btn btn-primary py-1 px-4" data-toggle="modal"
                                data-target="#Return{{ pk.book }}">Return Book</button>
                            {% else %}
                            <button class="btn btn-primary py-1 px-4" data-toggle="modal"
                                data-target="#Return{{ pk.book }}">Return Book</button>
                            {% endif %}
                            {% else %}
                            <button class="btn btn-danger danger-1 px-4" data-toggle="modal"
                            data-target="#Reissue{{ pk.book }}">Re-Issue</button>
                            {% endif %}
                        </th>
                    </tr>
                </tbody>
                <!-- Modal Renew -->
                <div class="modal fade" id="Renew{{ pk.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="RenewModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Renew Book {{ pk.book }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to renew the book {{ pk.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/book/renew/{{ pk.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Return Model -->
                <div class="modal fade" id="Return{{ pk.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="ReturnModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Return Book {{ pk.book }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to return the book {{ pk.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>     
                                <a href="/book/return/{{ pk.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reissue Model -->
                <div class="modal fade" id="Reissue{{ pk.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="ReissueModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Re-Issue Book {{ pk.book }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to re-issue the book {{ pk.book }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/book/checkOut/{{ pk.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
            {% elif st == 'pending' %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th class="text-danger">Book Title</th>
                        <th class="text-danger">Issue Date</th>
                        <th class="text-danger">ERD</th>
                        <th class="text-danger">Return Date</th>
                        <th class="text-danger text-center">Return Status</th>
                    </tr>
                </thead>
                {% for pk in profileBook %}
                {% if pk.return_status == 'pending' %}
                <tbody>
                    <tr>
                        <th class="text-capitalize">{{ pk.book }}</th>
                        <th class="text-capitalize">{{ pk.issue_date }}</th>
                        <th class="text-capitalize">{{ pk.estimated_return_date }}</th>
                        <th class="text-capitalize">{{ pk.return_date }}</th>
                        <th class="text-capitalize text-center">
                            <button class="btn btn-success py-1 px-4" data-toggle="modal"
                                data-target="#Renew{{ pk.book }}">Renew Book</button>
                            <button class="btn btn-primary py-1 px-4" data-toggle="modal"
                                data-target="#Return{{ pk.book }}">Return Book</button>
                        </th>
                    </tr>
                </tbody>
                <!-- Modal Renew -->
                <div class="modal fade" id="Renew{{ pk.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="RenewModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Renew Book {{ pk.book }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to renew the book {{ pk.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/book/renew/{{ pk.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Return Model -->
                <div class="modal fade" id="Return{{ pk.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="ReturnModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Return Book {{ pk.book }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to return the book {{ pk.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>     
                                <a href="/book/return/{{ pk.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </table>
            {% elif st == 'returned' %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th class="text-danger">Book Title</th>
                        <th class="text-danger">Issue Date</th>
                        <th class="text-danger">ERD</th>
                        <th class="text-danger">Return Date</th>
                        <th class="text-danger text-center">Return Status</th>
                    </tr>
                </thead>
                {% for pk in profileBook %}
                {% if pk.return_status == 'returned' %}
                <tbody>
                    <tr>
                        <th class="text-capitalize">{{ pk.book }}</th>
                        <th class="text-capitalize">{{ pk.issue_date }}</th>
                        <th class="text-capitalize">{{ pk.estimated_return_date }}</th>
                        <th class="text-capitalize">{{ pk.return_date }}</th>
                        <th class="text-capitalize text-center">
                            {% if pk.book.book_quantity == 0 %}
                            <a href="/book/reserve/user/{{ pk.book_id }}" class="btn btn-success py-1 px-4">Reserve</a>
                            {% else %}
                            <button class="btn btn-danger py-1 px-4"  data-toggle="modal"
                            data-target="#Reissue{{ pk.book }}">Re-Issue</button>
                            {% endif %}
                        </th>
                    </tr>
                </tbody>
                <!-- Reissue Model -->
                <div class="modal fade" id="Reissue{{ pk.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="ReissueModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Re-Issue Book {{ pk.book }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to re-issue the book {{ pk.book }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/book/checkOut/{{ pk.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% elif st == 'withFine' %}
                <table class="table table-bordered shadow">
                    <thead>
                        <tr>
                            <th class="text-danger">Book Title</th>
                            <th class="text-danger">Issue Date</th>
                            <th class="text-danger">ERD</th>
                            <th class="text-danger">Return Date</th>
                            <th class="text-danger">Return Status</th>
                            <th class="text-danger">Fine</th>
                        </tr>
                    </thead>

                    {% for fn in fineBook %}
                    {% if fn.fine != 0 %}
                    <tbody>
                        <tr>
                            <th class="text-capitalize">{{ fn.loan.book }}</th>
                            <th class="text-capitalize">{{ fn.loan.issue_date }}</th>
                            <th class="text-capitalize">{{ fn.loan.estimated_return_date }}</th>
                            <th class="text-capitalize">{{ fn.loan.return_date }}</th>
                            <th class="text-capitalize">{{ fn.loan.return_status }}</th>
                            <th class="text-capitalize"> <a href="" class="btn btn-danger py-1 px-3 ">Pay Fine ₹{{ fn.fine }}/- </a></th>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </table>
        </div>
    </div>
</div>
{% endblock bodyContent %}