{% extends 'baseRequired.html' %}

{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="/media/socialLogos/wowMedia.png
            " alt="" class="baranImg p-2"></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link h3" href="#">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h3" href="#">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock navcontent %}

{% block bodyContent %}
<style>
    .adminDisplay>a {
        color: #447e9b !important;
        text-decoration: underline !important;
    }
</style>
<div class="col-11 py-5 row mx-auto">
    <div class="col-lg-4 allUser">
        <div class="card border-1 UNIKCARD h-100 p-2" style="border-radius: 8px;">
            <div>
                <h3>User Accounts :-</h3>
            </div>
            <div class="p-2">
                <p class="mt-1 h6 adminDisplay">
                    <a href="/adminHome/userAccounts/userProfiles/">
                        User Profiles
                    </a>
                </p>
                <p class="mt-1 h6 adminDisplay">
                    <a href="/adminHome/userAccounts/userLinks/">
                        User Links
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card border-1 UNIKCARD h-100 p-2" style="border-radius: 8px;">
            <div class="row">
                <div class="p-3">
                    <h3>Select {{ appModule }} To Change</h3>
                </div>
                <div>
                    <form action="searchUser" method="get">
                        <div class="input-group px-lg-5 mt-3">
                            <input type="search" class="form-control rounded" placeholder="Search Anything Related Books"
                                aria-label="Search" aria-describedby="search-addon" name="query" id="query"/>
                            <button type="submit" class="btn btn-outline-primary ml-2">search</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="p-2">
                <table class="table">
                    <thead class="">
                        {% if appModule == 'book' %}
                        <thead>
                            <tr>
                                <th>Book Title</th>
                                <th>Book Category</th>
                                <th>Author</th>
                                <th class="text-center">Availabe Quantity</th>
                                <th class="text-center">Publication Date</th>
                            </tr>
                        </thead>
                        {% for book in allBook %}
                        <tr>
                            <th class="adminDisplay">
                                <a href="/adminHome/book/{{ appModule }}/{{ book.id }}/change">{{ book.book_title }}</a>
                            </th>
                            <th>{{ book.book_category }}</th>
                            <th>{{ book.book_author }}</th>
                            <th class="text-center">{{ book.book_quantity }}</th>
                            <th class="text-center">{{ book.book_publication_date }}</th>
                        </tr>
                        {% endfor %}
                        <!--  -->
                        {% elif appModule == 'bookCategories' %}
                        <thead>
                            <tr>
                                <th>Category Name</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        {% for cat in bookCat %}
                        <tr>
                            <th class="adminDisplay">
                                <a href="/adminHome/book/{{ appModule }}/{{ cat.id }}/change">{{ cat.name }}</a>
                            </th>
                            <th>{{ cat.createdOn }}</th>
                        </tr>
                        {% endfor %}
                        {% elif appModule == 'bookFinePayment' %}
                        {% for bfp in bookFinePayment %}
                        <tr>
                            <th class="adminDisplay">
                                <a href="/adminHome/book/{{ appModule }}/{{ bfp.id }}/change">{{ cat.name }}</a>
                            </th>
                        </tr>
                        {% endfor %}
                        {% elif appModule == 'bookFines' %}
                        <!--  -->
                        {% for bfine in bkFine %}
                        <thead>
                            <tr>
                                <th>Fine Ammount</th>
                            </tr>
                        </thead>
                        <tr>
                            <th class="adminDisplay">
                                <a href="/adminHome/book/{{ appModule }}/{{ bfine.id }}/change">{{ bfine.user }}</a>
                            </th>
                            <th class="adminDisplay">
                                <a href="/adminHome/book/{{ appModule }}/{{ bfine.id }}/change">{{ bfine.user }}</a>
                            </th>
                        </tr>
                        {% endfor %}
                        <!--  -->
                        {% else %}
                        <thead>
                            <tr>
                                <th>Book Title</th>
                                <th>User Name</th>
                                <th>Issue Date</th>
                                <th>ERD</th>
                                <th>Return Date</th>
                            </tr>
                        </thead>
                        {% for loan in loanDetail %}
                        <tr>
                            <th class="adminDisplay">
                                <a href="/adminHome/book/{{ appModule }}/{{ loan.id }}/change">{{ loan.book }}</a>
                            </th>
                            <th>{{ loan.user }}</th>
                            <th>{{ loan.issue_date }}</th>
                            <th>{{ loan.estimated_return_date }}</th>
                            <th>{{ loan.return_date }}</th>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 allBooks mt-3">
        <div class="card border-1 UNIKCARD h-100 p-2" style="border-radius: 8px;">
            <div>
                <h3>Books :-</h3>
            </div>
            <div class="p-2">
                <div class="mt-1 row">
                    <div class="adminDisplay ml-2 h6">
                        <a href="/adminHome/book/bookCategories/">
                            Book Categories
                        </a>
                    </div>
                    <div class="float-right h6">
                        <a href="/adminHome/book/bookCategories/add" class="ml-1" style="background-color: #447e9b;border-radius: 8px;color:aliceblue">
                            + Add
                        </a>
                    </div>
                </div>
                <div class="mt-1 adminDisplay row">
                    <div class="adminDisplay ml-2 h6">
                        <a href="/adminHome/book/bookFinePayment/">
                            Book fine pay details
                        </a>
                    </div>
                </div>
                <div class="mt-1 adminDisplay row">
                    <div class="adminDisplay ml-2 h6">
                        <a href="/adminHome/book/bookFines/">
                            Book fines
                        </a>
                    </div>
                </div>
                <div class="mt-1 adminDisplay row">
                    <div class="adminDisplay ml-2 h6">
                        <a href="/adminHome/book/bookLoan/">
                            Book loan details
                        </a>
                    </div>
                </div>
                <div class="mt-1 adminDisplay row">
                    <div class="adminDisplay ml-2 h6">
                        <a href="/adminHome/book/book/">
                            Books
                        </a>
                    </div>
                    <div class="float-right h6">
                        <a href="/adminHome/book/book/add" class="ml-1" style="background-color: #447e9b;border-radius: 8px;color:aliceblue">
                            + Add
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock bodyContent %}