{% extends 'baseRequired.html' %}

{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="/media/socialLogos/wowMedia.png
            " alt="" class="baranImg p-2"></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link h3" href="/adminHome">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h3" href="/customAdmin/logout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock navcontent %}

{% block bodyContent %}
<style>
    .user-image {
        background-image: url('/media/{{ foamUser.userProfile.user_profile_image }}');
        background-size: cover;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .adminDisplay>a {
        color: #447e9b !important;
        text-decoration: underline !important;
    }
</style>
<div class="container-fluid mx-auto mb-5">
    <div class="col mb-5 text-center">
        <h1> One Stop Portal For User</h1>
    </div>
    <div class="main-body">
        <div class="row mx-auto">
            <div class="col-xl-3 col-lg-4 col-md-5 col">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="user-image">
                            </div>
                            <!-- <img src="/media/userProfileImgs/IMG_20201027_200757_408.jpg" alt="Admin"
                                class="rounded-circle" width="150"> -->
                            <div class="mt-3">
                                <h4>{{ foamUser.first_name }}</h4>
                                <p class="text-secondary mb-1">{{ foamUser.userProfile.bio }}</p>
                                <p class="text-muted font-size-sm">{{ foamUser.userProfile.address }}</p>
                                <h6 class="text-danger"> {{ foamUser.userProfile.books_issued }} Books Issued</h6>
                            </div>
                            <div class="col mt-2">
                                <img src="{{ foamUser.userProfile.qrcode.url }}" style="max-height: 150px;" alt="" class="img-fluid">
                            </div>
                            <div class="mt-5">
                                <div class="mx-auto row">
                                    <a href="{{ foamUser.userlinks.github }}" class="mx-2"><img
                                            src="/media/socialLogos/github.png" alt="github" style="height:40px"></a>
                                    <a href="{{ foamUser.userlinks.linkdin }}" class="mx-2"><img
                                            src="/media/socialLogos/linkdin.png" alt="linkdin" style="height:40px"></a>
                                    <a href="{{ foamUser.userlinks.twitter }}" class="mx-2"><img
                                            src="/media/socialLogos/twitter.png" alt="twitter" style="height:40px"></a>
                                    <a href="{{ foamUser.userlinks.website }}" class="mx-2"><img
                                            src="/media/socialLogos/website.png" alt="instagram"
                                            style="height:40px"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} userProfile Form {% endcomment %}
            <div class="col-xl-5 col-lg-5 col-md-7">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <form action="
                        " method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <h6>{{ foamUser.username }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ umForm.first_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <h6>{{ foamUser.email }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bio</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ upForm.bio }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Location</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ upForm.address }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profile Image</h6>
                                </div>
                                <div class="col-sm-9 text-secondary adminDisplay">
                                    {{ upForm.user_profile_image }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="" class="btn btn-info px-3" name="profile-form"
                                        value="profile-form">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12 mt-md-0 mt-5">
                <div class="card shadow h-100 p-4">
                    <h1>Filters</h1>
                    <ul class="p-3 adminDisplay">
                        <a href="/adminHome/userAccounts/userProfiles/change/{{ foamUser.id }}/all">
                            <li class="h5 mt-3">Books Issued</li>
                        </a>
                        <a href="/adminHome/userAccounts/userProfiles/change/{{ foamUser.id }}/withFine">
                            <li class="h5 mt-3">Books With Fine</li>
                        </a>
                        <a href="/adminHome/userAccounts/userProfiles/change/{{ foamUser.id }}/pending">
                            <li class="h5 mt-3">Return Status - Pending</li>
                        </a>
                        <a href="/adminHome/userAccounts/userProfiles/change/{{ foamUser.id }}/returned">
                            <li class="h5 mt-3">Return Status - Returned</li>
                        </a>
                        {% if foamUser.userProfile.books_issued < 5 %} <a
                            href="/adminHome/issueBookFor/user/{{ foamUser.id }}">
                            <li class="h5 mt-3 btn btn-success">Issue a book for {{ foamUser.first_name }}</li>
                            </a>
                            {% else %}
                            <li class="h5 mt-3 text-danger">Maximum capacity of book issued</li>
                            <p>You can return books to borrow new books</p>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .UNIKCARD {
        cursor: pointer;
        transition: 0.3s linear;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%) !important;
    }

    .UNIKCARD:hover {
        background-color: peachpuff !important;
        transform: translateY(-12px);
        background: #afc5de17;
        /* color: #fff; */
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    }

    .setico-card {
        height: 50px;
    }

    .blg-card {
        transition: 0.3s ease-in-out;
        border-radius: 10px;
        background-color: #ddefed;
        height: 180px;
        cursor: pointer;
    }

    .blg-card:hover {
        transform: scale(1.03);
    }

    .scrollhai {
        height: 70vh;
        overflow-x: auto;
        text-align: justify;
        scroll-behavior: smooth;
    }

    .scrollhai::-webkit-scrollbar {
        display: none;
    }

    .scrollstyle a {
        color: #000 !important;
        text-decoration: none;
    }
</style>
<div class="container-fluid mx-auto pb-5">
    <div class="row mx-auto">
        <div class="col-xl-3 col-lg-4">
            <div class="mt-3 shadow">
                <form action="" method="POST">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:25px" src="/media/socialLogos/website.png" alt="website"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ ulForm.website }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:25px" src="/media/socialLogos/github.png" alt="github"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ ulForm.github }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:25px" src="/media/socialLogos/twitter.png" alt="twitter"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ ulForm.twitter }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><img style="height:25px" src="/media/socialLogos/linkdin.png" alt="linkdin"
                                    class="img-fluid mr-2"></h6>
                            <span class="text-secondary">{{ ulForm.linkdin }}</span>
                        </li>
                    </ul>
                    <div class="col">
                        <button type="submit" class="btn btn-info px-3 my-3" name="link-form"
                            value="link-form">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 mt-5 mt-lg-0">
            <div class="col text-center mb-3">
                <h2>Book Loan Detalis</h2>
                {% for msg in messages %}
                <h6 class="mt-4">{{ msg }}</h6>
                {% endfor %}
            </div>
            {% if st == 'all' %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th class="text-danger">Book Title</th>
                        <th class="text-danger">Issue Date</th>
                        <th class="text-danger">ERD</th>
                        <th class="text-danger">Return Date</th>
                        <th class="text-danger text-center">Return Status</th>
                    </tr>
                </thead>
                {% for loan in loanBook %}
                <tbody>
                    <tr>
                        <th class="text-capitalize">{{ loan.book }}</th>
                        <th class="text-capitalize">{{ loan.issue_date }}</th>
                        <th class="text-capitalize">{{ loan.estimated_return_date }}</th>
                        <th class="text-capitalize">{{ loan.return_date }}</th>
                        <th class="text-capitalize text-center">
                            {% if loan.return_status == 'pending' %}
                            {% if loan.book.book_quantity != 0 %}
                            <button class="btn btn-success py-1 px-4" data-toggle="modal"
                                data-target="#adminRenew{{ loan.book }}">Renew Book</button>
                            <button class="btn btn-primary py-1 px-4" data-toggle="modal"
                                data-target="#adminReturn{{ loan.book }}">Return Book</button>
                            {% else %}
                            <button class="btn btn-primary py-1 px-4" data-toggle="modal"
                                data-target="#adminReturn{{ loan.book }}">Return Book</button>
                            {% endif %}
                            {% else %}
                            <button class="btn btn-danger danger-1 px-4" data-toggle="modal"
                            data-target="#adminReissue{{ loan.book }}">Re-Issue</button>
                            {% endif %}
                        </th>
                    </tr>
                </tbody>
                <!-- Modal Renew -->
                <div class="modal fade" id="adminRenew{{ loan.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="adminRenewModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Renew For {{ foamUser.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to renew the book {{ loan.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/adminHome/renewBookFor/user/{{ foamUser.id }}/{{ loan.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Return Model -->
                <div class="modal fade" id="adminReturn{{ loan.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="adminReturnModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Return For {{ foamUser.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to return the book {{ loan.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>     
                                <a href="/adminHome/returnBookFor/user/{{ foamUser.id }}/{{ loan.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reissue Model -->
                <div class="modal fade" id="adminReissue{{ loan.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="adminReissueModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Re-Issue Book For {{ foamUser.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to re-issue the book {{ loan.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/adminHome/issueBookFor/user/{{ foamUser.id }}/{{ loan.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
            {% elif st == 'pending' %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th class="text-danger">Book Title</th>
                        <th class="text-danger">Issue Date</th>
                        <th class="text-danger">ERD</th>
                        <th class="text-danger">Return Date</th>
                        <th class="text-danger text-center">Return Status</th>
                    </tr>
                </thead>
                {% for loan in loanBook %}
                {% if loan.return_status == 'pending' %}
                <tbody>
                    <tr>
                        <th class="text-capitalize">{{ loan.book }}</th>
                        <th class="text-capitalize">{{ loan.issue_date }}</th>
                        <th class="text-capitalize">{{ loan.estimated_return_date }}</th>
                        <th class="text-capitalize">{{ loan.return_date }}</th>
                        <th class="text-capitalize text-center">
                            <button class="btn btn-success py-1 px-4" data-toggle="modal"
                                data-target="#adminRenew{{ loan.book }}">Renew Book</button>
                            <button class="btn btn-primary py-1 px-4" data-toggle="modal"
                                data-target="#adminReturn{{ loan.book }}">Return Book</button>
                        </th>
                    </tr>
                </tbody>
                
                <!-- Modal Renew -->
                <div class="modal fade" id="adminRenew{{ loan.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="adminRenewModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Renew For {{ foamUser.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to renew the book {{ loan.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/adminHome/renewBookFor/user/{{ foamUser.id }}/{{ loan.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="adminReturn{{ loan.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="adminReturnModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Return For {{ foamUser.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to return the book {{ loan.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </table>
            {% elif st == 'returned' %}
            <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th class="text-danger">Book Title</th>
                        <th class="text-danger">Issue Date</th>
                        <th class="text-danger">ERD</th>
                        <th class="text-danger">Return Date</th>
                        <th class="text-danger text-center">Return Status</th>
                    </tr>
                </thead>
                {% for loan in loanBook %}
                {% if loan.return_status == 'returned' %}
                <tbody>
                    <tr>
                        <th class="text-capitalize">{{ loan.book }}</th>
                        <th class="text-capitalize">{{ loan.issue_date }}</th>
                        <th class="text-capitalize">{{ loan.estimated_return_date }}</th>
                        <th class="text-capitalize">{{ loan.return_date }}</th>
                        <th class="text-capitalize text-center">
                            {% if loan.book.book_quantity == 0 %}
                            <a href="/adminHome/reserveBookFor/user/{{ foamUser.id }}/{{ loan.book_id }}" class="btn btn-success py-1 px-4">Reserve</a>
                            {% else %}
                            <button class="btn btn-danger py-1 px-4"  data-toggle="modal"
                            data-target="#adminReissue{{ loan.book }}">Re-Issue</button>
                            {% endif %}
                        </th>
                    </tr>
                </tbody>
                <div class="modal fade" id="adminReissue{{ loan.book }}" tabindex="-1" role="dialog"
                    aria-labelledby="adminReissueModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Re-Issue Book For {{ foamUser.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col text-danger h6">
                                    Are you sure, you want to re-issue the book {{ loan.book }} for {{ foamUser.username }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/adminHome/issueBookFor/user/{{ foamUser.id }}/{{ loan.book_id }}" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% elif st == 'withFine' %}
                <table class="table table-bordered shadow">
                    <thead>
                        <tr>
                            <th class="text-danger">Book Title</th>
                            <th class="text-danger">Issue Date</th>
                            <th class="text-danger">ERD</th>
                            <th class="text-danger">Return Date</th>
                            <th class="text-danger">Return Status</th>
                            <th class="text-danger">Fine</th>
                        </tr>
                    </thead>

                    {% for fn in fineBook %}
                    {% if fn.fine != 0 %}
                    <tbody>
                        <tr>
                            <th class="text-capitalize">{{ fn.loan.book }}</th>
                            <th class="text-capitalize">{{ fn.loan.issue_date }}</th>
                            <th class="text-capitalize">{{ fn.loan.estimated_return_date }}</th>
                            <th class="text-capitalize">{{ fn.loan.return_date }}</th>
                            <th class="text-capitalize">{{ fn.loan.return_status }}</th>
                            <th class="text-capitalize"> <a href="" class="btn btn-danger py-1 px-3 ">Pay Fine ₹{{ fn.fine }}/- </a></th>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </table>
        </div>
    </div>
</div>

{% endblock bodyContent %}